
.azul {
  background:blue;
}

.vermelho {
  background: red;
}

h1 {
  text-align: center;
  margin-top: 5rem;
}

div.iniciar,
div.pausar,
div.reiniciar{
  margin: 10px;
  padding: 10px 20px;
  font-size: 2rem;
  background: #DADCE0;
  cursor: pointer;
}

div.iniciar:hover,
div.pausar:hover,
div.reiniciar:hover{
  background: #F1F3F4
}

.cronometro {
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: black;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
}

